aiogram==3.10.0
beautiful-date==2.3.0
colorama==0.4.6
deep-translator==1.11.4
gcsa==2.3.0
google==3.0.0
groq==0.9.0
ollama==0.3.1
python-dotenv==1.0.1
todoist_api_python==2.1.5
openai-whisper==20231117
chromadb==0.5.5
tavily-python==0.3.9
lxml==5.3.0
deep-translator==1.11.4
detectlanguage==1.5.0
gpt-researcher==0.9.5
sentence-transformers==3.1.0
gradio_client
PyPDF2
google-generativeai
duckduckgo_search